  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


html {
  width: 100%;
  box-sizing: border-box;
  color: #101010;
}

body {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --black: #272a31;
  --orange: #ec5242;
  --grey: #d3d3d3;
  --white: #fff;
  --darkgrey: rgb(96, 92, 92);
  --text: grey;
}

li{
    height:250px;
    list-style-type: none;
    border: 2px solid red;
    padding:15px 20px 20px;
}

.notes-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill,265px);
    padding:2em 1em;
    gap: 20px;
    background-color: #f5f5f5;
    justify-content: center;

}
/* add note card */
.add-note{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5f7772;
    cursor: pointer;
    border: 2px dashed #5f7772;
    transition: background 0.5s;
}

.add-note:hover{
    background-color: #d1e3e8;
}

.addicon{
    font-size: 4em;
}

.add-note p{
    font-weight: 500;
    margin-top: 2em;
}
/* note card */
.note-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;    
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(123, 39, 39, 0.1);
}

.nt-title{
    font-size: 20px;
    font-weight: 700;
}

.nt-content{
    font-size: 14px;
    color: #566663;
    margin-top: 1em;
    font-style: italic;
}

.btn-note{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px dashed #566663;
}

.seticon{
    position: relative;
    font-size: 1.5em;
    cursor: pointer;
}

.menu{
    position: absolute;
    color: #70415e;
    box-shadow: 0 0 50px rgba(123, 39, 39, 0.1);
    background-color: #eaf5f5;
    bottom: 0;
    right: -5px 0;
    transform: scale(0);
    transition: transform 0.2s ease;
    transform-origin: bottom right;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    align-items: left;
    border: 2px solid red;
    margin:0 auto;
    max-width:360px; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5ca4b7;
}

.t-input input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.content-input textarea{
    color: #101010;
    min-width: 100%;
    font-size: medium;
    padding: 5px;
}

.sub-btn{
  background-color: #690342;
  width: 50%;
  color: aliceblue;
  padding: 10px;
  border-radius: 4px;
}

.attach-cont{
    display: flex;
    align-items: center;
    gap:0.5em;
    padding-top: 5px;
    justify-content: space-evenly;
    border-top: 1px solid #566663;
}

.hd-add{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
